<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->
<!-- <app-control-statement></app-control-statement> -->















<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 fw-medium">
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-if">ng-If</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="databinding">Databinding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-for">ng-For</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-class">ng-Class</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ng-style">ng-Style</a>
        </li>
        <li class="nav-item">
          <!-- A directive that binds an anchor (<a>) tag to a route.
                It navigates to the specified route without reloading the page.
                It's an Angular replacement for <a href="...">.
                  	Links to routes in the app (like <a>) -->
          <a class="nav-link" routerLink="control-statement">flow-Statement</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signals">signals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="linked-signal">linked-signal</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--  A placeholder in your HTML where Angular will display the component that matches the current route. -->
<!-- use 
   Usually inside app.component.html.
   	Marks where routed components are displayed -->
<router-outlet></router-outlet>